header.header
    .container
        .header__logos
            a(href="https://www.wday.ru/").header__logo.header__logo--womansday
                img(src="/static/images/general/womansday.svg", alt="").header__logo-img
            a(href="#").header__logo.header__logo--salipod
                img(src="/static/images/general/salipod.svg", alt="").header__logo-img
    include ../../sections/intro