extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../sections/contest-rules
	include ../sections/how
	include ../sections/video
	include ../sections/mode