.section--how
    // 

.how
    @media(min-width $grid-xxl)
        margin-bottom 9rem

.indent
    padding 4rem 0 6rem
    font-size 2.5rem
    
    &__img
        margin 0 auto
        display block
        width auto
        max-width 100%
        transition transform linear  .2s
        &:hover
            transform scale(1.05)

        &-wrap
            padding 0 6rem 4rem
    
    &__paragraph
        &:not(:last-child)
            margin-bottom 2.8rem
    
    @media(min-width $grid-xxl)
        display flex
        align-items center
        padding-bottom 0

        &__img
            &-wrap
                flex 0 0 55rem
                max-width 55rem
                padding 0
                margin-right 12rem

        &:nth-child(odd)
            flex-direction row-reverse

            .indent__img-wrap
                margin-top -4rem
                margin-right 0
                margin-left 10rem