.section--how
    // 

.how
    overflow hidden
    @media(min-width $grid-lg)
        padding-bottom 4.69vw

.indent
    padding 4rem 0 6rem
    font-size 2.5rem
    
    &__img
        margin 0 auto
        display block
        width auto
        max-width 100%
        transition transform linear  .2s
        &:hover
            transform scale(1.05)

        &-wrap
            padding 0 6rem 4rem
    
    &__paragraph
        max-width 100%
        &:not(:last-child)
            margin-bottom 2.8rem
    
    @media(min-width $grid-lg)
        padding 2.08vw 0 3.13vw
        font-size 1.3vw
        display flex
        align-items center
        padding-bottom 0

        &__img
            &-wrap
                flex 0 0 28.44vw
                max-width 28.44vw
                padding 0
                margin-right 6.25vw

        &__cnt
            max-width 42.29vw
        
        &__paragraph
            &:not(:last-child)
                margin-bottom 1.46vw

        &:nth-child(odd)
            flex-direction row-reverse

            .indent__img-wrap
                margin-top -2.08vw
                margin-right 0
                margin-left 5.11vw