.intro
    position relative
    z-index 1
    max-width 1920px
    margin 0 auto

    &__head
        color $title-color
        text-align center
        padding 4.5rem 0 3rem
        margin 0 -2.5rem

    &__title
        font-family 'RupsterScriptFree'
        font-size 8.1rem
        display inline-block
        font-weight 300
        line-height 1.4
        position relative
        z-index 2

        @media(max-width $grid-xs-max)
            padding 0 4vw

        &:after
            background-image url(../images/content/intro/title-bg.png)
            background-size contain
            background-repeat no-repeat
            background-position center center
            content ''
            height 285%
            left 50%
            top 60%
            position absolute
            transform translate(-50%, -50%)
            width 200%
            z-index -2
        
        &-img
            width 100%
        // &:before
        //     bottom 2.5rem
        //     content ''
        //     z-index -1
        //     position absolute
        //     left 0
        //     width 100%
        //     height .3rem
        //     background-image: linear-gradient(to right, #c95c79, #c05a61, #b45a4d, #a45c3c, #925d2f, #926232, #916635, #916b38, #a37647, #b58057, #c78b67, #d89778)
    
    
    &__subtitle
        font-weight 700
        font-size 3.7rem
        line-height 1.2
        z-index 2
        position relative

        @media(max-width $grid-xs-max)
            max-width 320px
            margin 0 auto
    
    &__cnt
        display flex
    
    &__girl
        position absolute
        height 100%
        width 100%
        top 0
        left 0
        background-repeat no-repeat, no-repeat
        background-size contain, 0 0
        background-position 0 -5px, bottom center
        z-index -2
    
    &__offer
        flex 0 0 50%
        margin-left auto

        @media(max-width $grid-xs-max)
            max-width 50%

    &__product
        display flex
        flex-direction column
        align-items center
        padding 0 2.7rem 0 1.7rem
        position relative
        margin-bottom 3rem

        &-link
            transition transform linear .2s
            &:hover
                transform scale(1.05)

        &-img
            width 100%
    
    &__btn
        position absolute
        bottom 0
        
    @media(min-width $grid-lg)
        &__btn
            bottom 2%
    @media(min-width $grid-xxl)
        .container--intro
            max-width 100%
            padding 0
            margin 0 7.5rem
            width auto
            display flex
            justify-content center
        
        &__head
            padding-top 0
            display inline-flex
            flex-direction column
            margin 0 auto
            text-align left
            padding-left 10%
        
        &__title
            font-size 10.4rem
        
        &__subtitle
            width 70rem
       
        &__cnt
            margin 8rem auto 24rem
            padding-right 12%
        
        &__girl
            background-image: url('../images/content/intro/girl.png')!important
            height calc(100% + 12rem)
            top -8.6rem
        
        &__offer
            flex 0 0 auto
            display flex
            flex-direction row-reverse
        
        &__product
            padding 0
            position absolute
            z-index 5
            right 7.5rem
            top 10rem
        
        // &__btn
        //     position relative
        //     z-index 3
        
        

.sertificate
    display flex
    flex-direction column
    align-items center

    @media(max-width $grid-xs-max)
        width 140px
        margin 0 auto

    &__img
        margin-bottom 3.5rem
        max-width 100%
        
        @media(max-width $grid-xs-max)
            margin-bottom 7rem
    
    &__text
        font-size 3.7rem
        font-weight bold
        text-align center
        line-height 1.2
        padding-left 1rem
        padding-bottom 3.2rem
            
    @media(min-width $grid-xl)
        &__img
            margin-bottom 7rem
   
    @media(min-width $grid-xxl)
        flex-direction row
        align-items center

        &__img
            margin-bottom 0

        &__text
            width 32rem
            padding-bottom 0