.intro
    position relative
    z-index 1
    max-width 100%
    margin 0 auto

    &__head
        color $title-color
        text-align center
        padding 4.5rem 0 3rem
        margin 0 -2.5rem

    &__title
        font-family 'RupsterScriptFree'
        font-size 8.1rem
        display inline-block
        font-weight 300
        line-height 1.4
        position relative
        z-index 2

        @media(max-width $grid-xs-max)
            padding 0 4vw

        &:after
            background-image url(../images/content/intro/title-bg.png)
            background-size contain
            background-repeat no-repeat
            background-position center center
            content ''
            height 285%
            left 50%
            top 60%
            position absolute
            transform translate(-50%, -50%)
            width 200%
            z-index -2
        
        &-img
            width 100%
    
    
    &__subtitle
        font-weight 700
        font-size 3.7rem
        line-height 1.2
        z-index 2
        position relative

        @media(max-width $grid-xs-max)
            max-width 320px
            margin 0 auto
    
    &__cnt
        display flex
    
    &__girl
        position absolute
        height 100%
        width 100%
        top 0
        left 0
        background-repeat no-repeat, no-repeat
        background-size contain, 0 0
        background-position 0 -5px, bottom center
        z-index -2
    
    &__offer
        flex 0 0 50%
        margin-left auto

        @media(max-width $grid-xs-max)
            max-width 50%

    &__product
        display flex
        flex-direction column
        align-items center
        padding 0 2.7rem 0 1.7rem
        position relative
        margin-bottom 3rem

        &-link
            transition transform linear .2s
            position relative
            &:hover
                transform scale(1.05)

        &-img
            width 100%
            max-width 330px
    
    &__btn
        position absolute
        bottom 0
        font-family "Gotham Pro"
        left 50%
        transform translateX(-50%)

        &:hover,
        &:focus
            transform translateX(-50%)scale(1.05)


        
    @media(min-width $grid-lg)
        .container--intro
            max-width 100%
            padding 0

        &__head
            padding 0
            width 45.47vw
            margin-left 32.92vw
        
        &__title
            width 45.47vw
            height 8.44vw
            margin-bottom 1.98vw
        
        &__subtitle
            width 45.47vw
            text-align left
            font-size 2.28vw
            padding-left 1.72vw
        
        &__girl
            background-image: url('../images/content/intro/girl.png')!important
            height calc(100% + 8.4vw)
            top -5.21vw
            background-position: -1vw -5px, bottom center;

        &__offer
            width 45.47vw
            margin 0 auto
            margin-left 32.92vw
            padding 4.69vw 0
        
        &__product
            position absolute
            right 2.44vw
            top 10.5vw

            &-img
                width 17.19vw


.sertificate
    display flex
    flex-direction column
    align-items center

    @media(max-width $grid-xs-max)
        width 140px
        margin 0 auto

    &__img
        margin-bottom 3.5rem
        max-width 100%
        
        @media(max-width $grid-xs-max)
            margin-bottom 7rem
    
    &__text
        font-size 3.3rem
        font-weight bold
        text-align center
        line-height 1.2
        padding-left 1rem
        padding-bottom 3.2rem
        color #84163b
            
    @media(min-width $grid-lg)
        &__img
            margin-bottom 3.65vw
            width 13.33vw

        &__text
            padding-bottom 4vw
            font-size 1.93vw

    // @media(min-width $grid-xxl)
    //     width 100%
    //     align-items center

    //     &__img
    //         margin-bottom 8rem

    //     &__text
    //         width auto
    //         padding-bottom 0
    //         color #84163b