.section--mode
    // 

.mode
    padding 5rem 0
    background-color $bgc

    &__wrap
        display flex
        flex-wrap wrap
        justify-content center
    
    &-item
        margin-top 5rem 
        flex 0 0 calc(50% - 2rem)

        &:nth-child(odd)
            margin-right 4rem

        &__img
            display block
            width auto
            margin 0 auto
            max-width 100%
            margin-bottom 2rem
        
        &__descr
            font-size 2.5rem
    
    @media(min-width $grid-xxl)
        padding-top 11rem
        
        &__wrap
            justify-content space-between

        &-item
            flex 0 0 31.5rem
            margin-top 8rem

            &:not(:last-child)
                margin-right 5.3rem
                margin-left 0