.footer
    padding-bottom 8.5rem
    flex 0 0 auto

    .copyright
        font-size 1.5rem
        text-align center
    
    @media(min-width $grid-xxl)
        padding-bottom 6.5rem

.socials
    display flex
    justify-content center
    align-items center
    padding 3rem 0 5.5rem

    &__link
        display flex
        width auto
        padding 0 4rem  
    
    &__icon
        width 5.7rem
        height 5.1rem
        fill $btn-bg

        &.icon
            &-fb
                width 2rem
                height 4.2rem
            &-tw
                width 5rem
                height 3.9rem
            &-ok
                width 3rem
            &-vk
                height 2.9rem
                width 5.1rem