.footer
    padding-bottom 8.5rem
    flex 0 0 auto

    .copyright
        font-size 1.5rem
        text-align center
    
    @media(min-width $grid-lg)
        padding-bottom 3.39vw

        .copyright
            font-size 0.78vw

.socials
    display flex
    justify-content center
    align-items center
    padding 3rem 0 5.5rem

    &__link
        display flex
        width auto
        padding 0 4rem  
    
    &__icon
        width 5.7rem
        height 5.1rem
        fill $btn-bg

        &.icon
            &-fb
                width 2rem
                height 4.2rem
            &-tw
                width 5rem
                height 3.9rem
            &-ok
                width 3rem
            &-vk
                height 2.9rem
                width 5.1rem

    @media(min-width $grid-lg)
        padding 1.56vw 0 2.86vw

        &__link
            padding 0 2.08vw

        &__icon
            width 2.97vw
            height 2.66vw
            fill $btn-bg

            &.icon
                &-fb
                    width 1.04vw
                    height 2.19vw
                &-tw
                    width 2.6vw
                    height 2.03vw
                &-ok
                    width 1.56vw
                &-vk
                    height 1.51vw
                    width 2.66vw