@font-face {
    font-family: 'RupsterScriptFree';
    src: url('../fonts/RupsterScriptFree.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RupsterScriptFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}