.header
    // background-image: linear-gradient(to top, #dca7b5, #deaab7, #e0adba, #e2b0bc, #e4b3bf)
    background-image: url(../images/general/mobile-intro-bg.jpg)
    background-size auto 101% 
    padding 3.6rem 0 0
    overflow hidden
    
    &__logos
        position relative
        z-index 2
        margin 0 3.3rem 0 2rem
        display flex
        justify-content space-between
    
    &__logo
        &-img
            height 4.7rem
    
    @media(min-width $grid-xl)
        padding 3.9rem 0 0

        &__logo
            &--womansday
                .header__logo-img
                    height 3.7rem
    
    @media(min-width $grid-xl)
        &__logos
            margin-right 6.7rem
            margin-left 3.6rem