.header
    background-image: linear-gradient(to top, #dca7b5, #deaab7, #e0adba, #e2b0bc, #e4b3bf)
    padding 3.6rem 0 0
    overflow hidden
    
    &__logos
        margin 0 -2rem 0 -3rem
        display flex
        justify-content space-between
    
    &__logo
        &-img
            height 4.7rem