.btn
    display inline-block
    appearance none
    font-weight 300
    font-size 3.1rem
    text-transform uppercase
    border-radius 8rem
    border 1px solid $white
    background-color $btn-bg
    color $white
    padding 1.7rem 3.7rem 1.3rem
    line-height 1
    cursor pointer
    transition all .2s  linear

    @media(max-width $grid-xs-max)
        font-size 5rem

    &:hover,
    &:focus
        transform scale(1.05)
