section.section.section--contest-rules.wow.slideInLeft(data-wow-duration=".5s" data-wow-delay=".3s")
    .contest-rules
        .container
            .contest-rules__wrap
                .contest-rules__col.rules
                    .rule
                        img.rule__img(src="static/images/content/contest-rules/1.svg", alt="")
                        .rule__descr Купи упаковку #[img(src='static/images/general/salipod.svg').rule__descr-icon]
                    .rule
                        img.rule__img(src="static/images/content/contest-rules/2.svg", alt="")
                        .rule__descr Зарегистрируй чек на&nbsp;сайте
                    .rule
                        img.rule__img(src="static/images/content/contest-rules/3.svg", alt="")
                        .rule__descr Каждый 7-ой участник получает сертификат Ozon на&nbsp;1000 рублей
                    //- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.45 376.75">
                    //-     <title>line</title>
                    //-     <g id="Слой_2" data-name="Слой 2">
                    //-         <g id="Слой_1-2" data-name="Слой 1">
                    //-             <path d="M61.23.4C-18.08,61.61-23,125.78,66.06,190.47c82.29,52,78.14,114.17,5.79,185.93" style="fill:none;stroke:#fff;stroke-miterlimit:10"/>
                    //-         </g>
                    //-     </g>
                    //- </svg>
                    .rules__mask
                        <svg version="1.1" id="rules-line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 130 380" style="enable-background:new 0 0 130 380;" xml:space="preserve">
                            //- 
                            <path class="rules-line__path" d="M62.6,2c-79.3,61.2-84.2,125.4,4.8,190.1c82.3,52,78.1,114.2,5.8,185.9"/>
                        </svg>
                    

                form(action="").contest-rules__col.reg-form
                    .reg-form__group
                        input(type="text" placeholder="Имя").reg-form__input
                    .reg-form__group
                        input(type="email" placeholder="E-mail").reg-form__input
                    .reg-form__group
                        input(type="file")#file.reg-form__input.reg-form__input--file
                        label(for="file").btn.reg-form__label.reg-form__label--file загрузить фото чека
                    .reg-form__group
                        input(type="submit" value="Отправить").btn.reg-form__input.reg-form__input--submit
                    span.reg-form__rules Учавствуя в конкусе, вы соглашаетесь с&nbsp;#[a.reg-form__rules-link(href="#") правилами конкурса]