section.section.section--how.wow.slideInLeft(data-wow-duration=".5s" data-wow-delay=".3s")
    .how
        .container
            .how__title.section__title Как возникают сухие мозоли и натоптыши
            .how__indent.indent
                .indent__img-wrap
                    img(src="static/images/content/how/how-1.png", alt="").indent__img
                .indent__cnt
                    p.indent__paragraph &laquo;Ах, какие модные сапожки!&raquo;
                    p.indent__paragraph &laquo;Да, высокие каблуки&nbsp;&mdash; это неудобно... Зато как красиво!&raquo;
                    p.indent__paragraph &laquo;Ну&nbsp;и&nbsp;что, что тесноваты&nbsp;&mdash; но&nbsp;ведь такая скидка!! Разношу!&raquo;
                    p.indent__paragraph Знакомые мысли? Как ни&nbsp;грустно, причиной появления многих проблем с&nbsp;ножками может стать вечное женское желание быть самой красивой. Модная, стильная&nbsp;&mdash; но&nbsp;неудобная, тесная или жесткая обувь может травмировать кожу ступней, провоцируя образование сухих мозолей и&nbsp;натоптышей.

            .how__indent.indent
                .indent__img-wrap
                    a(href="#").indent__img-link
                        img(src="static/images/content/how/how-2.png", alt="").indent__img
                .indent__cnt
                    p.indent__paragraph Обувь на высоком каблуке способствует неправильному распределению нагрузки на ступню и повышенному давлению на некоторые участки кожи.
                    p.indent__paragraph Модные мягкие меховые сапожки могут вызывать излишнюю потливость и, как следствие, излишнюю чувствительность кожи к трению о поверхность обуви и складки колготок и носков.
                    p.indent__paragraph Тесная обувь, жесткие стельки или узкая обувь при наличии лишнего веса могут спровоцировать образование натоптышей – сухих ороговевших участков кожи.
                    p.indent__paragraph Поэтому очень важно выбирать удобную обувь по размеру, подбирать высоту каблука под свой рост, ставить на первое место комфорт ножек, а не стоимость пары… И, конечно, при первых же признаках проблемы пользоваться грамотно подобранными средствами спасения – например, пластырем Салипод. В отличие от ванночек с травами, пемзы и других «народных» средств он работает с проблемой на всех слоях кожи, включая глубинные.
