section.section.section--intro
    .intro
        .container
            .intro__head
                h1.intro__title.section__title Удача у&nbsp;ваших ног
                h3.intro__subtitle Позаботьтесь о&nbsp;красоте ваших ног и&nbsp;выигрывайте призы! 
        .container
            .intro__cnt
                .intro__girl(style="background-image: url('/static/images/content/intro/girl-mob.png'), linear-gradient(to top, #d3c4c8, #d3c4c8, #d3c4c8, #d2c3c7, #d2c3c7);")
                .intro__offer
                    .intro__product 
                        img(src="static/images/content/intro/product-img.png", alt="").intro__product-img
                        a.btn.intro__btn(href="#") КУПИТЬ
                    .intro__sertificate.sertificate
                        img(src="/static/images/content/intro/cards.png", alt="").sertificate__img
                        .sertificate__text Сертификат OZON на&nbsp;1000 рублей
