section.section.section--mode.wow.slideInLeft(data-wow-duration=".5s" data-wow-delay=".3s")
    .mode
        .container
            .section__title Способ применения пластыря
            .mode__wrap
                .mode-item
                    img(src="static/images/content/mode/1.png", alt="").mode-item__img
                    .mode-item__descr Сделать теплую ванночку и вытереть ногу досуха.
                .mode-item
                    img(src="static/images/content/mode/2.png", alt="").mode-item__img
                    .mode-item__descr Отрезать кусочек пластыря  или взять готовый из набора, отделить его от защитного покрытия и наложить на мозоль. При необходимости зафиксируйте пластырем.
                .mode-item
                    img(src="static/images/content/mode/3.png", alt="").mode-item__img
                    .mode-item__descr Через два дня лейкопластырь снять. Если мозоль не размягчилась, наложение мозольного лейкопластыря повторить в том же порядке 3–4 раза.
                .mode-item
                    img(src="static/images/content/mode/4.png", alt="").mode-item__img
                    .mode-item__descr Если мозоль размягчилась, осторожно удалите ее  при помощи пемзы или педикюрной лопатки.