section.section.section--video
    .video
        a(href="static/video/salipod.mp4").video__link
            picture
                source(srcset="static/video/salipod-prev.webp" type="image/webp" width="100%")
                img(src="static/video/salipod-prev.gif" alt="").video__media
            button.video__button(type="button" aria-label="Запустить видео")
                img.video__button-icon(src="static/images/content/video/play.svg", alt="Запустить видео")
