footer.footer
    .container
        ul.socials
            li.socials__item
                a(href="#").socials__link
                    //- img(src="static/images/general/fb.svg", alt="Facebook").socials__icon
                    +icon('fb','socials__icon')
            li.socials__item
                a(href="#").socials__link
                    //- img(src="static/images/general/tw.svg", alt="Twitter").socials__icon
                    +icon('tw','socials__icon')
            li.socials__item
                a(href="#").socials__link
                    //- img(src="static/images/general/ok.svg", alt="Odnoklassniki").socials__icon
                    +icon('ok','socials__icon')
            li.socials__item
                a(href="#").socials__link
                    //- img(src="static/images/general/vk.svg", alt="Vkontakte").socials__icon
                    +icon('vk','socials__icon')
        .copyright © 2019 HSM production